<section class="stack">
  <div class="container">
    <h2><i class="bi bi-stack me-2 text-primary"></i><%= t('home.stack.title') %></h2>
    <div class="stack-grid">
      <div><i class="bi bi-gem fs-2 d-block mb-2"></i>Rails 8</div>
      <div><i class="bi bi-database fs-2 d-block mb-2"></i>PostgreSQL</div>
      <div><i class="bi bi-filetype-mongo fs-2 d-block mb-2"></i>MongoDB</div>
      <div><i class="bi bi-hdd-stack fs-2 d-block mb-2"></i>Redis</div>
      <div><i class="bi bi-plug fs-2 d-block mb-2"></i>RabbitMQ</div>
      <div><i class="bi bi-bolt fs-2 d-block mb-2"></i>Hotwire</div>
      <div><i class="bi bi-lightning fs-2 d-block mb-2"></i>Stimulus</div>
      <div><i class="bi bi-bootstrap fs-2 d-block mb-2"></i>Bootstrap</div>
    </div>
  </div>
</section>
